.cv .cv-date {
    float: right;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: normal;
    font-size: 0.9em;
}

.cv h2 {
    margin-top: 0.0rem;
    margin-bottom: 0.0rem;
}

.cv h3 {
    margin-top: 0.0rem;
    margin-bottom: 0.0rem;
    font-size: 1.1em;
}

.cv p {
    margin-bottom: 0.2rem;
    margin-top: 0.0rem;
}

.cv ul {
    margin-top: 0.0rem;
}

.cv li {
    margin: 0.0rem;
}

